.main-footer {
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    height: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';
}
.main-footer span { 
    font-weight: bold; 
    font-family: var(--font_footer);
}