/* My Style */
.main-pay-section {
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../../../images/bg/bg-1.jpg');
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.article-container {
    min-height: 27%;
    height: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #04142F 100%);
    box-shadow: rgba(3, 2, 2, 0.25) 2.72px 2.72px 2.4px;
    opacity: 0.85;
}
/* Articles Container */
.article-container-header {
    background-color: black;
    color: aliceblue;
    width: 40%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--font_titles);
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 0px 0px 5px 5px;
}
/* Article Form Content */
.form-article-container {
    display: flex;
    align-items: center;
    height: 90%;
}
.form-article-container input {
    margin-top: 3%;
    height: 32px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(3, 2, 2, 0.25) 2.72px 2.72px 2.4px;
}
.horizontal-form {
    flex-direction: row;
    justify-content: center;
}
.horizontal-form > div { text-align: center; }
.horizontal-form > div:first-of-type { width: 50%; }
.horizontal-form > div > textarea { 
    height: auto; 
    border-radius: 5px;
    border: none;
    box-shadow: rgba(3, 2, 2, 0.25) 2.72px 2.72px 2.4px;
}
/* Botonera */
.botonera {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    padding: 25px;
}
.form-button {
    border-radius: 5px;
    color: aliceblue;
    padding: 5px 15px;
    font-weight: bold;
    font-family: 'Roboto';
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
}
.reset-button { background-color: #911818; }
.reset-button:hover { background-color: #c92e2e; }
.submit-button { background-color: #1F2937; }
.submit-button:hover { background-color: #374151; }
/* Cashier Container */
.article-container:first-of-type {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #6C4118 0%, #E4DAC4 100%);
    box-shadow: rgba(3, 2, 2, 0.25) 2.72px 2.72px 2.4px;
}
.article-container:first-of-type > .article-container-header { 
    background-color: white;
    color: black;
}